.booking-container {
    display: flex;
    height: 100vh; 
}

.booking-content {
    flex: 0.9;
    padding: 50px;
    margin-left: 250px;
}

.booking-table {
    width: 80%;
    margin-left: 10%;
    border-collapse: collapse;
}

.booking-table th, .booking-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.booking-table th {
    background-color: #f2f2f2;
}

.booking-table td {
    vertical-align: middle;
}

.add-remove-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.add-remove-buttons button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-remove-buttons button:hover {
    background-color: #0056b3;
}
