.review-and-rating-page {
    padding: 20px;
    margin-top: 50px;
    margin-left: 250px;
  }
  
  .review-rating-bar {
    color: black;
    padding: 10px;
  }
  
  .star-rating-system {
    margin-top: 20px;
  }
  
  .reviews {
    margin-top: 200px;
  }
  